<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}锋云平台{% endblock %}</title>

    {% include 'base/css.html' %}
    {% include 'base/js.html' %}

    {% block css %}
    {% endblock %}

    <style>
        .circle-dot-red {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
        }
    </style>
</head>
<body class="withvernav">
<div class="bodywrapper">
    {% include 'base/top.html' %}
    {% include 'base/menu.html' %}

    {% block content %}

    {% endblock %}

</div><!--bodywrapper-->
{% block js %}

{% endblock %}

</body>
</html>