{% load static %}

<link rel="stylesheet" href="{% static 'css/style.default.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/plugins/jquery.toast.min.css' %}" type="text/css"/>

<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="{% static 'css/style.ie9.css' %}"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="{% static 'css/style.ie8.css' %}"/>
<![endif]-->

<style>
    #head_small{
        width: 30px;
        height: 30px;
        border: 2px solid lightgray;
        border-radius: 50%;
    }

     #head_big{
        width: 80px;
        height: 80px;
        border: 2px solid lightgray;
        border-radius: 50%;
    }

    .regist a{
        color: white;
        margin-left: 150px;
    }

    .cnt_msg{
        color:white;
        font-size: 0.5rem;
        background-color: red;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        line-height:16px;
        opacity: 1!important;
    }

</style>