<link rel="stylesheet" href="/s/css/style.default.css" type="text/css" />


<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="/s/css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="/s/css/style.ie8.css"/>
<![endif]-->

<style>
    #head_small{
        width: 30px;
        height: 30px;
        border: 2px solid lightgray;
        border-radius: 50%;
    }

     #head_big{
        width: 80px;
        height: 80px;
        border: 2px solid lightgray;
        border-radius: 50%;
    }


</style>