{% load static %}

<script type="text/javascript" src="{% static 'js/plugins/jquery-1.7.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery-ui-1.8.16.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.flot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.flot.resize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.slimscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.alerts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/charCount.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/ui.spinner.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/chosen.jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.toast.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/custom/general.js' %}"></script>

<!--[if lte IE 8]>
<script  src="{% static 'js/plugins/excanvas.min.js' %}"></script><![endif]-->
<!--[if lt IE 9]>
<script src="{% static 'js/plugins/css3-mediaqueries.js' %}"></script>
<![endif]-->

<script src='{% static 'tiny_mce/tiny_mce.js' %}'></script>
<script src='{% static 'js/echarts.min.js' %}'></script>