 <div class="vernav2 iconmenu">
    	<ul>
            {% if request.session.login_user.code == 'admin' %}
                <li><a href="/settings/" class="widgets">系统配置</a></li>
                <li><a href="#role_menu" class="support">系统管理</a>
                    <span class="arrow"></span>
                    <ul id="role_menu">
                        <li><a href="/role/">角色管理</a></li>
                        <li><a href="/list_sysuser/">系统用户</a></li>
                        <li><a href="editor.html">菜单管理</a></li>
                    </ul>
                </li>
                <li><a href="/message/" class="drafts">公告管理</a></li>
                <li><a href="/message_audit/" class="inbox">信息审核</a></li>
            {% endif %}

        {% if request.session.login_user.code == 'mgr' %}
             <li><a href="forms.html">系统配置</a></li>
             <li><a href="elements.html" class="elements">公告管理</a></li>
             <li><a href="elements.html" class="elements">信息审核</a></li>
        {% endif %}


        {% if request.session.login_user.code == '' %}
            <li><a href="elements.html" class="tables">目录管理</a></li>
            <li><a href="elements.html" class="gallery">文件管理</a></li>
            <li><a href="elements.html" class="calendar">图片连接</a></li>
            <li><a href="elements.html" class="addons">我的分享</a></li>
        {% endif %}
        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div><!--leftmenu-->