{% extends 'base/base.html' %}

{% block title %}
    系统角色管理
{% endblock %}

{% block content %}

    <div class="centercontent tables">

        <div class="pageheader notab">
            <h1 class="pagetitle">当前位置：角色管理</h1>
            <span class="pagedesc">可以对角色进行删除、修改和增加</span>

        </div><!--pageheader-->

        <div style="margin: 10px">
            <div class="contenttitle2">
                <h3>用户角色</h3>
            </div><!--contenttitle-->
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                <thead>
                <tr>
                    <th class="head0">角色ID</th>
                    <th class="head1">名称</th>
                    <th class="head0">代码</th>
                    <th class="head1" style="width: 300px">操作</th>
                </tr>
                </thead>

                <tbody>
                {% for role in roles %}
                    <tr class="gradeA">
                        <td>{{ role.id }}</td>
                        <td>{{ role.name }}</td>
                        <td>{{ role.code }}</td>
                        <td class="center">
                            <button class="stdbtn" onclick="edit_({{ role.id }})">编辑</button>
                            <button class="stdbtn btn_yellow" onclick="delete_({{ role.id }}, '{{ role.name }}')">删除</button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div style="padding: 5px">
                <button class="stdbtn btn_blue" onclick="window.open('/edit_role/', target='_self')">新增</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        function delete_(role_id, role_name) {
            jConfirm('是否确认删除' + role_name + "?", '删除确认', function (event) {
                if (event) {
                    url = '?action=del&role_id=' + role_id
                    console.log(url)
                    window.open(url, target = '_self')
                }
            })
        }

        function edit_(role_id){
            open('/edit_role/?role_id='+role_id, targt='_self')
        }

    </script>
{% endblock %}